@model BazaOsobZaginionych.Models.UpdatePersonViewModel
@{
}



<h1>Informacje o Osobie Zaginionej</h1>

<form method="post" action="View" class="mt-5">

   <div class="mb-3">
    <label for="" class="form-label">ID</label>
    <input type="text" class="form-control" asp-for="Id" readonly>
  </div>

  <div class="mb-3">
    <label for="" class="form-label">Imię</label>
    <input type="text" class="form-control" asp-for="FirstName">
  </div>

  <div class="mb-3">
    <label for="" class="form-label">Nazwisko</label>
    <input type="text" class="form-control" asp-for="LastName">
  </div>

  <div class="mb-3">
    <label for="" class="form-label">Płeć</label>
    <input type="text" class="form-control" asp-for="Gender">
  </div>

  <div class="mb-3">
    <label for="" class="form-label">Wiek</label>
    <input type="number" class="form-control" asp-for="Age">
  </div>

  <div class="mb-3">
    <label for="" class="form-label">Miasto</label>
    <input type="text" class="form-control" asp-for="City">
  </div>

    <div class="mb-3">
    <label for="" class="form-label">Województwo</label>
    <input type="text" class="form-control" asp-for="State">
  </div>

  <button type="submit" class="btn btn-primary">Dodaj</button>

  <button type="submit" class="btn btn-danger" asp-action="Delete" asp-controller="Persons">Usuń</button>
 
</form>
